.principalDashboard{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  background-color: red;
}

.slidebar{
  min-width: 150px;
  width: 15%;
  background-color: blue;

  .titleDashboard{
    text-align: center;
    color: white;
    font-size: 1.8rem;
    text-shadow: 2px 0px 2px black, 0px 2px 2px black, -2px 0px 2px black, 0px -2px 2px black;
  }
}

.showInfoDashboard{
  background-color: orange;
}